---
---

/* General */
html,
body {
  height: 100%;
}
h1 {
  color: #444;
}
#header {
  color: #f8f8f8;
  background-color: #48b;
}
#content {
  min-height: 100%;
}
#footer {
  color: #333;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px 5px 0 0;

  bottom: 0;
}
#footer a {
  color: #555;
}

#footer a:visited {
  color: #777;
}

/* Grid component */
.grid-squares {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  div {
    min-height: 100px;
    text-align: center;
    font-size: 1.5em;
  }
}

/* font colors */
.text-grey {
  color: #777;
}

.text-focus {
  color: #070;
}

/* Used on 404 page */
.large-empty-container {
  min-height: 15em;
}

.big {
  font-size: 6em;
  font-family: monospace;
}

.note {
  font-size: 1em;
}

/* Additional styling */
.empty-jumbotron {
  text-align: center;
}

.bubble {
  font-size: 110%;
  margin: 40px;
  padding: 10px 0;
  background-color: #fbf8f8;
  border-radius: 5px;
  color: #555;
}
