<div class="container" id="footer">
    <a href="https://www.twitter.com/anthonyvdg" target="_blank">Twitter</a> |
    <a href="https://fosstodon.org/@anthonyvdg" target="_blank">Fosstodon</a> |
    <a href="https://www.github.com/avdg" target="_blank">Github</a> |
    <a href="https://keybase.io/anthonyvdg" target="_blank">Keybase</a> |
    <a href="https://www.patreon.com/anthonyvdg" target="_blank">Patreon</a> |
    <a href="https://www.codingame.com/profile/1c94d328153760af90a0752eb705fbee7539711" target="_blank">Codingame</a> |
    <a href="https://codefights.com/profile/avdg" target="_blank">Codefights</a> |
    <a href="https://legacy.joind.in/user/view/1682" target="_blank">Joindin</a> |
    <a href="https://www.meetup.com/en-US/phpgent/members/103357312/" target="_blank">Meetup</a> |
    <a href="https://www.linkedin.com/in/anthony-van-de-gejuchte-1084b413a/" target="_blank">LinkedIn</a>
</div>
