<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
h1 {
    color: #444;
}
#header {
    color: #f8f8f8;
    background-color: #48b;
}
#footer {
    color: #333;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
#footer a {
    color: #555;
}

#footer a:visited {
    color: #777;
}
.bubble {
    font-size: 110%;
    margin: 40px;
    padding: 10px 0;
    background-color:#fbf8f8;
    border-radius:5px;
    color:#555;
}
</style>
<title>About Anthony Van de Gejuchte</title>
</head>
<body>

<div class="jumbotron" id="header">
    <div class="container">
        <h1>Anthony Van de Gejuchte</h1>
        <p></p>
        <p>PHP - Javascript - HTML - CSS - NodeJS - Apache - MySQL - MongoDB</p>
        <p>In search of quality (web)programming and going for a better internet</p>
    </div>
</div>

<div class="container">
{{content}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
{% include ga.html %}
</body></html>